<table class="table table-hover">
  <thead class="">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <h4><span>コメント:<%= post.comments.count %></span></h4>
  <tbody>
    <% post.comments.each do |comment| %>
      <tr>
        <td class= "col-3">
          <%= link_to user_path (comment.user.id) do %>
          <%= comment.user.name %>
          <% end %>
        </td>
        <td class="col-3">
          <%= comment.created_at.strftime('%Y/%m/%d')%>
        </td>
        <td class="col-3">
          <%= comment.body %>
        </td>
        <td class="col-3">
          <% if comment.user == current_user %>
          <div>
            <%= link_to"コメント削除",post_comment_path(comment.post, comment), method: :delete, remote: true %>
          </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>