<div class="container">
  <div class="row">
    <div class="col-md-8">
    <h2>ユーザー情報編集ページ</h2>
    <%= form_with model:@user, local:true do |f| %>
    <%#クラスはbootstrap公式から使いたいもの持ってくる%>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control name" %>
      </div>
      <div>
        <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, fallback:"no-image.jpg", size:'70x50' %>
        <%= f.label :profile_image %>
        <%= f.attachment_field :profile_image, class: "form-control-file user_image" %>
      </div>
      <div>
        <%= f.submit class: 'btn btn-secondary' %>
      </div>
    <% end %>
    </div>
  </div>
</div>