<%= form_with model: post, local:true do |f| %>
  <h3>画像</h3>
    <%= f.attachment_field :image %>
      <h3>料理名</h3>
      <%= f.text_field :title %>
      <h3>コメント</h3>
      <%= f.text_area :body %>
      <%= f.submit "投稿する" %>
    <% end %>