<div class="container">
  <div class="row">
    <div class="col-md-8 p-4 text-center bg-light ">
      <%= link_to post_path (@post.id) do %>
        <%= attachment_image_tag @post, :image, fallback: "no-image.jpg", width: '75%', height: '40%'  %>
      <% end %>
      <div class="">
        <h2 class="p-2">
          <span>【<%= @post.title %>】<br>
          <div class="favorites_buttons_<%= @post.id %>">
            <h3><%= render "favorites/favorite", post: @post, favorite: @favorite %></h3>
          </div>
          </span>
        </h2>

        <h5 class="p-2"><%= @post.body %></h5>
        <h5 class="p-2">店名:〔<%= @post.shop %>〕</h5>
        <h5 class="p-2">場所:<%= @post.prefectures %></h5>
        <h4>
          <span>
            【投稿者:
            <%= link_to user_path (@post.user.id) do %>
            <%= @post.user.name %>
            <% end %>】
          </span>
        </h4>
        <span>【カテゴリ】</span>
          <% @post.categories.each do |category| %>
          <%= category.name %>

          <% if @post.user == current_user %>
            <h5><%= link_to '編集する', edit_post_path(@post), class: "btn btn-secondary" %>
            <%= link_to '削除する', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger"%></h5>

          <% end %>
        <br>

        <div id="comments_<%= @post.id %>">
          <%= render 'comments/index', post: @post %>
        </div>
        <div>
          <%= render 'comments/form', post: @post, comment: @comment %>
        </div>
      </div>
    </div>

    <div class="col-3 offset-1 p-4 text-center bg-white">
      <%= link_to '新規投稿をする',new_post_path, class: "btn btn-secondary  btn-block" %>
      <br><br>
      <%= render "layouts/rank", all_ranks: @all_ranks %>
    </div>
  </div>
</div>