<div class="container">
  <div class="row">
    <div class="col-8 p-4 text-center bg-light ">
      <div>
        <h2>投稿検索結果</h2>

        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td class= "col-3">
                  <%= link_to post_path (post.id) do %>
                    <%= attachment_image_tag post, :image, :fill, 100, 100, fallback: "no-image.jpg", size:'120x80'  %>
                  <% end %>
                </td>
                <td class="col-6">
                  <%= link_to post_path (post.id) do %>
                    <h3><b><%= post.title %></b></h3>
                    <h5><%= post.shop %>[<%= post.prefectures %>]</h5>
                  <% end %>
                </td>
                <td class="col-3">
                  <h3>☆<%= post.favorites.count %></h3>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-3 offset-1 p-4 text-center bg-white">
      <%= link_to '新規投稿をする',new_post_path, class: "btn btn-info btn-sm btn-block" %>
      <br><br>
      <%= render "layouts/rank", all_ranks: @all_ranks %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 mx-auto">
      <nav aria-label="Page navigation example">
        <%= paginate @posts %>
      </nav>
    </div>
  </div>
</div>