<div class="container">
  <div class="row">
    <div class="col-9 p-4">

      <% if @posts %>
      <div>
        <h2>投稿検索結果</h2>

        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @posts.each do |post| %>
            <tr>
              <td>
                <%= link_to post_path (post.id) do %>
                <%= attachment_image_tag post, :image, :fill, 100, 100, fallback: "no-image.jpg", size:"120x80" %>
                <% end %>
              </td>
              <td>
                <%= link_to post_path (post.id) do %>
                <h5><b><%= post.title %></b></h5>
                <% end %>
              </td>
              <td>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <% end %>
    </div>

    <div class="col-md-3 p-4 text-center">
      <%= link_to '新規投稿をする',new_post_path, class: "btn btn-info btn-sm btn-block" %>
      <br><br>
      <p>👑ランキング👑</p>
      <p><% @all_ranks.each do |post| %></p>
      <%= post.title %>
      <% end %>
    </div>
  </div>
</div>